<section class="hero" style="background-image: url('images/hero.jpg');" width="1920" height="1001">
    <div class="hero__container">
        <div class="hero__item">
            <div class="hero__content">
                <h1 class="hero__title wow slideInLeft" data-wow-duration="1.5s">Молочна ферма</h1>
                <p class="hero__text">
                    Lorem ipsum dolor sit amet consectetur. Congue senectus sollicitudin fermentum sit posuere. In vulputate ac sed fames phasellus sit semper et
                </p>
                <a href="#" class="hero__btn button">Зв'язатися з нами</a>
            </div>
        </div>
    </div>
   <!-- <span aria-hidden="true">
       <svg xmlns="http://www.w3.org/2000/svg" fill="none">
       <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 138H-0.000976562V0.704208C-1466.26 -416.594 -2540 -1765.9 -2540 -3366C-2540 -5299 -972.997 -6866 960 -6866C2893 -6866 4460 -5299 4460 -3366C4460 -1765.9 3386.26 -416.592 1920 0.704773V138ZM1920 0.704773C1614.94 87.5234 1292.9 134 960 134C627.099 134 305.054 87.5231 -0.000976562 0.704208V-834H1920V0.704773Z"/>
       </svg>
   </span> -->
</section>
